ffaletar_projekt/ffaletar_aplikacija_2_2/src/conf/xml-resources/web-service-references/MeteoWS/wsdl/localhost_8080/ffaletar_aplikacija_1/MeteoWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><xs:schema xmlns:tns="http://servisi.soap.ffaletar.nwtis.foi.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servisi.soap.ffaletar.nwtis.foi.org/">

<xs:element name="adresaUredajaPremaGeolokaciji" type="tns:adresaUredajaPremaGeolokaciji"/>

<xs:element name="adresaUredajaPremaGeolokacijiResponse" type="tns:adresaUredajaPremaGeolokacijiResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="meteoPodaciUVremenskomRazdoblju" type="tns:meteoPodaciUVremenskomRazdoblju"/>

<xs:element name="meteoPodaciUVremenskomRazdobljuResponse" type="tns:meteoPodaciUVremenskomRazdobljuResponse"/>

<xs:element name="vazeciMeteoPodaciZaUredaj" type="tns:vazeciMeteoPodaciZaUredaj"/>

<xs:element name="vazeciMeteoPodaciZaUredajResponse" type="tns:vazeciMeteoPodaciZaUredajResponse"/>

<xs:element name="zadnjiMeteoPodaciZaUredjaj" type="tns:zadnjiMeteoPodaciZaUredjaj"/>

<xs:element name="zadnjiMeteoPodaciZaUredjajResponse" type="tns:zadnjiMeteoPodaciZaUredjajResponse"/>

<xs:element name="zadnjihNMeteoPodatakaZaUredjaj" type="tns:zadnjihNMeteoPodatakaZaUredjaj"/>

<xs:element name="zadnjihNMeteoPodatakaZaUredjajResponse" type="tns:zadnjihNMeteoPodatakaZaUredjajResponse"/>

<xs:complexType name="vazeciMeteoPodaciZaUredaj">
<xs:sequence>
<xs:element name="IoTUredjaj" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="vazeciMeteoPodaciZaUredajResponse">
<xs:sequence>
<xs:element name="return" type="tns:meteoPodaci" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="meteoPodaci">
<xs:sequence>
<xs:element name="cloudsName" type="xs:string" minOccurs="0"/>
<xs:element name="cloudsValue" type="xs:int"/>
<xs:element name="humidityUnit" type="xs:string" minOccurs="0"/>
<xs:element name="humidityValue" type="xs:float" minOccurs="0"/>
<xs:element name="lastUpdate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="precipitationMode" type="xs:string" minOccurs="0"/>
<xs:element name="precipitationUnit" type="xs:string" minOccurs="0"/>
<xs:element name="precipitationValue" type="xs:float" minOccurs="0"/>
<xs:element name="pressureUnit" type="xs:string" minOccurs="0"/>
<xs:element name="pressureValue" type="xs:float" minOccurs="0"/>
<xs:element name="sunRise" type="xs:dateTime" minOccurs="0"/>
<xs:element name="sunSet" type="xs:dateTime" minOccurs="0"/>
<xs:element name="temperatureMax" type="xs:float" minOccurs="0"/>
<xs:element name="temperatureMin" type="xs:float" minOccurs="0"/>
<xs:element name="temperatureUnit" type="xs:string" minOccurs="0"/>
<xs:element name="temperatureValue" type="xs:float" minOccurs="0"/>
<xs:element name="visibility" type="xs:string" minOccurs="0"/>
<xs:element name="weatherIcon" type="xs:string" minOccurs="0"/>
<xs:element name="weatherNumber" type="xs:int"/>
<xs:element name="weatherValue" type="xs:string" minOccurs="0"/>
<xs:element name="windDirectionCode" type="xs:string" minOccurs="0"/>
<xs:element name="windDirectionName" type="xs:string" minOccurs="0"/>
<xs:element name="windDirectionValue" type="xs:float" minOccurs="0"/>
<xs:element name="windSpeedName" type="xs:string" minOccurs="0"/>
<xs:element name="windSpeedValue" type="xs:float" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="zadnjiMeteoPodaciZaUredjaj">
<xs:sequence>
<xs:element name="IoTUredjaj" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="zadnjiMeteoPodaciZaUredjajResponse">
<xs:sequence>
<xs:element name="return" type="tns:meteoPodaci" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="meteoPodaciUVremenskomRazdoblju">
<xs:sequence>
<xs:element name="IoTUredjaj" type="xs:int"/>
<xs:element name="pocetak" type="xs:long"/>
<xs:element name="kraj" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="meteoPodaciUVremenskomRazdobljuResponse">
<xs:sequence>
<xs:element name="return" type="tns:meteoPodaci" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="zadnjihNMeteoPodatakaZaUredjaj">
<xs:sequence>
<xs:element name="IoTUredjaj" type="xs:int"/>
<xs:element name="brojMeteoPodataka" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="zadnjihNMeteoPodatakaZaUredjajResponse">
<xs:sequence>
<xs:element name="return" type="tns:meteoPodaci" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="adresaUredajaPremaGeolokaciji">
<xs:sequence>
<xs:element name="IoTUredjaj" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="adresaUredajaPremaGeolokacijiResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>