ffaletar_projekt/ffaletar_aplikacija_2_2/src/conf/xml-resources/web-service-references/MeteoWS/wsdl/localhost_8080/ffaletar_aplikacija_1/MeteoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servisi.soap.ffaletar.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servisi.soap.ffaletar.nwtis.foi.org/" name="MeteoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://servisi.soap.ffaletar.nwtis.foi.org/" schemaLocation="http://localhost:8080/ffaletar_aplikacija_1/MeteoWS?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="zadnjiMeteoPodaciZaUredjaj">
<part name="parameters" element="tns:zadnjiMeteoPodaciZaUredjaj"/>
</message>
<message name="zadnjiMeteoPodaciZaUredjajResponse">
<part name="parameters" element="tns:zadnjiMeteoPodaciZaUredjajResponse"/>
</message>
<message name="zadnjihNMeteoPodatakaZaUredjaj">
<part name="parameters" element="tns:zadnjihNMeteoPodatakaZaUredjaj"/>
</message>
<message name="zadnjihNMeteoPodatakaZaUredjajResponse">
<part name="parameters" element="tns:zadnjihNMeteoPodatakaZaUredjajResponse"/>
</message>
<message name="vazeciMeteoPodaciZaUredaj">
<part name="parameters" element="tns:vazeciMeteoPodaciZaUredaj"/>
</message>
<message name="vazeciMeteoPodaciZaUredajResponse">
<part name="parameters" element="tns:vazeciMeteoPodaciZaUredajResponse"/>
</message>
<message name="adresaUredajaPremaGeolokaciji">
<part name="parameters" element="tns:adresaUredajaPremaGeolokaciji"/>
</message>
<message name="adresaUredajaPremaGeolokacijiResponse">
<part name="parameters" element="tns:adresaUredajaPremaGeolokacijiResponse"/>
</message>
<message name="meteoPodaciUVremenskomRazdoblju">
<part name="parameters" element="tns:meteoPodaciUVremenskomRazdoblju"/>
</message>
<message name="meteoPodaciUVremenskomRazdobljuResponse">
<part name="parameters" element="tns:meteoPodaciUVremenskomRazdobljuResponse"/>
</message>
<portType name="MeteoWS">
<operation name="hello">
<input wsam:Action="http://servisi.soap.ffaletar.nwtis.foi.org/MeteoWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://servisi.soap.ffaletar.nwtis.foi.org/MeteoWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="zadnjiMeteoPodaciZaUredjaj">
<input wsam:Action="http://servisi.soap.ffaletar.nwtis.foi.org/MeteoWS/zadnjiMeteoPodaciZaUredjajRequest" message="tns:zadnjiMeteoPodaciZaUredjaj"/>
<output wsam:Action="http://servisi.soap.ffaletar.nwtis.foi.org/MeteoWS/zadnjiMeteoPodaciZaUredjajResponse" message="tns:zadnjiMeteoPodaciZaUredjajResponse"/>
</operation>
<operation name="zadnjihNMeteoPodatakaZaUredjaj">
<input wsam:Action="http://servisi.soap.ffaletar.nwtis.foi.org/MeteoWS/zadnjihNMeteoPodatakaZaUredjajRequest" message="tns:zadnjihNMeteoPodatakaZaUredjaj"/>
<output wsam:Action="http://servisi.soap.ffaletar.nwtis.foi.org/MeteoWS/zadnjihNMeteoPodatakaZaUredjajResponse" message="tns:zadnjihNMeteoPodatakaZaUredjajResponse"/>
</operation>
<operation name="vazeciMeteoPodaciZaUredaj">
<input wsam:Action="http://servisi.soap.ffaletar.nwtis.foi.org/MeteoWS/vazeciMeteoPodaciZaUredajRequest" message="tns:vazeciMeteoPodaciZaUredaj"/>
<output wsam:Action="http://servisi.soap.ffaletar.nwtis.foi.org/MeteoWS/vazeciMeteoPodaciZaUredajResponse" message="tns:vazeciMeteoPodaciZaUredajResponse"/>
</operation>
<operation name="adresaUredajaPremaGeolokaciji">
<input wsam:Action="http://servisi.soap.ffaletar.nwtis.foi.org/MeteoWS/adresaUredajaPremaGeolokacijiRequest" message="tns:adresaUredajaPremaGeolokaciji"/>
<output wsam:Action="http://servisi.soap.ffaletar.nwtis.foi.org/MeteoWS/adresaUredajaPremaGeolokacijiResponse" message="tns:adresaUredajaPremaGeolokacijiResponse"/>
</operation>
<operation name="meteoPodaciUVremenskomRazdoblju">
<input wsam:Action="http://servisi.soap.ffaletar.nwtis.foi.org/MeteoWS/meteoPodaciUVremenskomRazdobljuRequest" message="tns:meteoPodaciUVremenskomRazdoblju"/>
<output wsam:Action="http://servisi.soap.ffaletar.nwtis.foi.org/MeteoWS/meteoPodaciUVremenskomRazdobljuResponse" message="tns:meteoPodaciUVremenskomRazdobljuResponse"/>
</operation>
</portType>
<binding name="MeteoWSPortBinding" type="tns:MeteoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="zadnjiMeteoPodaciZaUredjaj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="zadnjihNMeteoPodatakaZaUredjaj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="vazeciMeteoPodaciZaUredaj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="adresaUredajaPremaGeolokaciji">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="meteoPodaciUVremenskomRazdoblju">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MeteoWS">
<port name="MeteoWSPort" binding="tns:MeteoWSPortBinding">
<soap:address location="http://localhost:8080/ffaletar_aplikacija_1/MeteoWS"/>
</port>
</service>
</definitions>